.content{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}
.money{
    color: pink;
    margin-left: -45px;
}

.icone{
    font-size: 7em;
  }

mat-icon{
    display: block;
}
form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 15vh;
}
.full-width{
    width: 50vw;
}
@media screen and (max-width: 600px) {
    .full-width{
        width: 90vw;
    }
}