<div class="content">
    <mat-form-field class="full-width" appearance="outline"  color="accent">
        <mat-label>Porcentagem</mat-label>
        <input matInput autocomplete="off"  type="number" name="porcentagem" (min)="0" [(ngModel)]="porcentagem">
        <span matSuffix>%</span>
    </mat-form-field>
    <span>de</span>
    <mat-form-field class="full-width" appearance="outline"  color="accent">
        <mat-label>Valor</mat-label>
        <input matInput autocomplete="off" type="number" (min)="0" name="valor" [(ngModel)]="valor">
    </mat-form-field>

    <span>
        Resultado: {{ getResult() }}
    </span>
</div>