/* You can add global styles to this file, and also import other style files */
$primary: rgba(155, 81, 224, 0.3);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

}

.full-width{
  width: 50vw;
}
@media screen and (max-width: 600px) {
  .full-width{
      width: 90vw;
  }
}